<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Manager</title>
</head>
<body>
  <%- include('../partials/header') %>
  
  <main>
    <h2>Edit <%=password.website%> Password</h2>
    <form action="/passwords/<%= password._id %>?_method=PUT" method="post">
      <input type="text" name="website" value="<%= password.website %>"/>
      <input type="text" name="password" value="<%= password.password %>"/>
      <input type="submit" value="Update Password"/>
    </form>
  </main>

</body>
</html>