<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <%- include('../partials/header') %>

  <main>
      <h2>Show Page for <% password.website %></h2>
      <section>
          <h2>Password Attributes:</h2>
          <ul>
              <li>Website: <%= password.website %></li>
              <li>Password: <%= password.password %></li>
          </ul>
          </section>
          <section>
          <a href="/passwords/<%= password._id %>/edit">
              <button>Edit</button>
          </a>

          <form action="/passwords/<%= password._id %>?_method=DELETE" method="post">
              <input type="submit" value="Delete Password"/>
          </form>
          </section>
  </main>
</body>
</html>